* { margin: 0; padding: 0; }
html { overflow-y: scroll;}
ol, ul { list-style: none; margin: 0;}
h1 { font-size: 1.8em; width:20%; color:#FFD00D;padding-top:4px; font-family: 'NTR', helvetica, sans-serif; float:left; font-weight:400;}
h2 { font-size: 2.8em; color: #363636; font-family: 'NTR', helvetica, sans-serif;font-weight:700;}	
h3 { color: #363636;font-size: 2.2em; font-family: 'NTR', helvetica, sans-serif;font-weight:700;text-align: center;padding-bottom: 20px;}
h4 { color: #363636;font-size: 1.6em; line-height:1.2em;font-family: 'NTR', helvetica, sans-serif;font-weight:700;padding-bottom: 10px; }
h5 { color:#363636;font-size:1.2em;line-height:1.2em;font-family: 'NTR', helvetica, sans-serif;font-weight:700;}
a, img { outline: none; border:none; }
p { color:#363636;display: block;font-size:1.05em; line-height:2.1em;font-family:'Lato', helvetica, sans-serif;font-weight:400;}
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section { 
    display: block;
	}
/* Structure */
.wrapper {
	width:90%;
	margin:auto;
}
/*header*/
.logo {width:30px;margin-top:20px;}
/* #home a:link { text-decoration: none;color:#FAC95F; }
#home a:active { text-decoration: none; color:#FAC95F; }
#home a:visited { font-weight: none; color: #FAC95F; }
#home a:hover { font-weight: none; color: #FAC95F; } */
header nav {
	float:right;
	margin-top:20px;
	text-decoration:none;
}

header nav li {
  display: inline-block;
  margin-left:14px;
  position: relative;
  overflow: hidden;
  font-family:'NTR', helvetica, sans-serif;
  letter-spacing:1.2px;
}
#current { color:#EF6E0B;}
/* Links*/	
	a:link { text-decoration: none;color:#363636; -webkit-transition: all 0.3s ease 0;}
	a:active { text-decoration: none; color:#363636; }
	a:visited { text-decoration: none; color:#363636; }
	a:hover { font-weight: none; color: #EF6E0B; -webkit-transition: all 0.3s ease 0;}

#wrapper-main {
	width:82%;
	margin:auto;
}

/*banner*/
#banner {width:100%;height:700px;float:left;}
#banner h2 {position: absolute;width:40%;margin-top:164px;float:left;padding-left:9%;}
#banner p{
	position: absolute;
	width:36%;
	float:left;
	padding-top:260px;
	padding-left: 9%;
}
.bannerpic {float:left;width:55%;padding-top:100px;padding-left:45%;}

/*info*/
.info {width:100%;float:left;height:auto;}
.infosub {font-size:1.4em;color:#363636;font-family:'NTR', helvetica, sans-serif;font-weight:600;}
.infocol1 {float:left;width:22%;}
.infocol2 {float:left;margin-left:4%;width:22%;}
.infocol3 {float:left;margin-left:4%;width:22%;}
.infocol4 {float:left;margin-left:4%;width:22%;}

/*challenge*/
.challenge {float:left;width:100%; height:auto;margin-top:80px; padding-top:120px;background-color:#f7f7f7;}
.challenge h3 {float:left; width:100%;}
.challenge p {float:left;width:50%;padding:20px 25% 120px 25%;}

/*role*/
/* .role {top:120px; width:55.6%; height:auto;padding-left:22.2%;}
.role h3 {float:left; width:100%;}
.role p {padding-top:50px;float:left;width:100%;}
.rolepic {padding-top:60px; padding-left:15%;} */


/*approach*/
.approach {width:100%; float:left;height:auto;margin-top:80px;}
.approach h3 {width:100%;padding-top:80px;}
.approach p {padding-top:20px;float:left; padding-left:22.2%;width:56%;}
.approachpic {padding-top:80px;padding-left:22.2%;width:56%;}

/*discovery*/
.discovery {float:left;margin-top:200px; padding-top:80px; height:auto; width:100%;background-color:#f7f7f7;}
.prefindings {display: block;padding-left:25%;width:50%;float:left;}
.prefindings p {display: block;width:100%;float:left;}
.finding1, .finding2, .finding3, .finding4, .finding5, .finding6 {display:block;margin-left:25%;width:50%;margin-bottom:30px;}
.finding1 h4{display: block;margin-top:480px;}
.finding2 h4, .finding3 h4, .finding4 h4, .finding5 h4, .finding6 h4{display: block;padding-top: 10px;}
.finding1 p, .finding2 p, .finding3 p, .finding4 p, .finding5 p, .finding6 p {font-size:1em;color:#424242;width:92%;padding-top:0px;padding-left:2%;border-left: 12px solid #ededed;}
.afpic {width:50%;padding-left:25%;padding-top:30px;padding-bottom: 40px;}

/*vision*/
.vision {float:left;padding-top:80px; height:auto; width:55.6%;padding-left:22.2%;}
.vision h3 {width:100%; float:left;}
.vision p {padding-top:20px;float:left;width:100%;}
.visionpic {padding-top:40px; padding-left:10%;padding-bottom: 20px;}
/*Q1*/
.Q1 {float:left;padding-top:80px; height:auto; width:100%;background-color:#f7f7f7;}
.Q101 h3 {width:100%; float:left;}
.Q101 p {display: block;width:50%;padding-left:25%;padding-top:20px;float:left;}
.limits {float:left;padding-left:28%;padding-top:30px;width:22%;}
.limits p {padding-top:10px;color:#424242;}
.interests {float:left;width:25%;padding-top:30px;}
.interests p {padding-top:10px;color:#424242;}
.Q102 {display: block;width:50%;padding-left:25%;padding-top:50px;float:left;padding-bottom:30px;}
.bookpic {width:50%;padding-left:25%;padding-bottom: 60px;}
.bookpic figcaption {color:grey;text-align:center;padding-top:10px;font-size:0.9em;font-family: 'Lato', helvetica, sans-serif;font-weight:300;}
/*Q2*/
.Q2 {float:left;padding-top:80px; height:auto; width:55.6%;padding-left:22.2%;}
.Q201 {padding-top:20px;float:left;width:100%;}
.userflow {padding-top:80px;padding-bottom:100px;}
.Q202 {float:left;width:100%;}
.Q203 {float:left;width:100%;}
.fov {padding-top:80px;}
.photoframe {padding-top:80px;}
.pfp {padding-left:2%;}
.Q204 {padding-top:60px;float:left;width:100%;padding-bottom:80px;}

/*demo*/
.demo {float:left;padding-top:80px;width:100%;height:auto;background-color:black;}
.demo h3 {color:white; width:100%;}
.demo iframe {display:block; width:60%; padding-top:60px; margin: 0 auto; padding-bottom:160px;}
/*evaluation*/
.evaluation {float:left;padding-top:80px; height:2300px; width:100%;background-color:#f7f7f7;}
.evaluation h3 {padding-left:25%; width:50%;padding-right:25%;float:left;padding-bottom:50px;}
.testing1 {padding-left:25%;width:50%;}
.utpic {width:50%;padding-left:25%;padding-top:30px;}
.testing2 {padding-top:30px;padding-left:25%;width:50%;}
.qn {padding-top:30px;padding-left:25%;padding-bottom:30px;width:50%;}
.testing3 {padding-top:30px;padding-left:25%;width:50%;padding-bottom:30px;}
.results1 h4, .results2 h4 {display: block;padding-left:25%;margin-bottom:10px;}
.results1 p{font-size:1em;color:#424242;margin-left:25%;width:46%;padding-left:2%;border-left: 10px solid #ededed;margin-bottom:60px;}
.results2 p{font-size:1em;color:#424242;margin-left:25%;width:46%;padding-left:2%;border-left: 10px solid #ededed;}
/*reflection*/
.reflection {float:left;padding-top:80px; height:auto; width:55.6%;padding-left:22.2%;}
.reflection h4 {padding-top:20px;}
.reflection p {padding-top:20px;padding-bottom:50px;float:left;}

.nextproject {float:right;clear:both;padding:50px 0;}
/* footer */
.foot {
  padding-top:24px;
  clear:both;
  height:90px;
  text-align:center;
  margin-top:200px;
  background-color:#f3f3f3;
}
.foot p {font-size:18px;line-height:30px; font-family: 'NTR', helvetica, sans-serif;}
/* Media Queries */
@media screen and (max-width:480px){
	header { display:block; }
	header nav{
		float:left;
		clear:both;
		margin:0px;
		width:100%;
	}
	header nav li {
		margin:0px;
		display:block;
		margin-bottom:3px;
	}
	header nav a {
		display: block;
		padding:10px;
		text-align: left;
	}
	background { width:100%;}
}
