/* General Styles */

* { margin: 0; padding: 0; }
html { overflow-y: scroll;}
body { color: #363636; font-family: 'Mulish', helvetica, sans-serif; }
h1 { font-size: 50px; line-height:56px; font-weight:700; font-family: 'Noto Serif SC', helvetica, sans-serif; }  
h2 { font-size: 38px; line-height:44px; font-weight:700; font-family: 'Noto Serif SC', helvetica, sans-serif; }
h3 { font-size: 26px; line-height:32px; font-weight:700; font-family: 'Noto Serif SC', helvetica, sans-serif; }
h4 { font-size: 22px; line-height:28px; font-weight:800; font-family: 'Noto Serif SC', helvetica, sans-serif; }
h5 { font-size: 16px; line-height:16px; font-weight:800; font-family: 'Noto Serif SC', helvetica, sans-serif; }
.header-1 { font-size: 50px; line-height:56px; font-weight:700; font-family: 'Noto Serif SC', helvetica, sans-serif; }  
.header-2 { font-size: 38px; line-height:44px; font-weight:700; font-family: 'Noto Serif SC', helvetica, sans-serif; }
.header-3 { font-size: 26px; line-height:32px; font-weight:700; font-family: 'Noto Serif SC', helvetica, sans-serif; }
.header-4 { font-size: 22px; line-height:28px; font-weight:800; font-family: 'Noto Serif SC', helvetica, sans-serif; }
.header-5 { font-size: 16px; line-height:16px; font-weight:800; font-family: 'Noto Serif SC', helvetica, sans-serif; }

.display-1 { font-size: 32px; line-height:52px; font-weight:600; font-family: 'Noto Serif SC', helvetica, sans-serif; }

p, li, dt, dd { font-size:17px; line-height:28px; font-weight:400; font-family: 'Mulish', helvetica, sans-serif; }

.body-large { font-size:26px; line-height:40px; font-weight:400; font-family: 'Mulish', helvetica, sans-serif; }
.body-medium { font-size:17px; line-height:29px; font-weight:400; font-family: 'Mulish', helvetica, sans-serif; }
.body-small { font-size:14px; line-height:20px; font-weight:400; font-family: 'Mulish', helvetica, sans-serif; }
figcaption { font-size:14px; line-height:20px;font-weight:400; padding-top:4px; color: #707070; }
.line-height-tight { line-height: 1.5; }

.p-code { font-size:17px; letter-spacing:1.5px; font-weight:600; color:#3066DB; background-color:#f3f3f3; line-height:30px; padding:16px; }

a, img { outline: none; border:none; }
dt { font-weight: 700; }
.tag-major { font-size:16px; display: block; line-height:32px; font-weight:700; font-family: 'Noto Serif SC', helvetica, sans-serif; }
.tag-secondary { font-size:15px; display: block;line-height:15px; font-weight:400; letter-spacing: 0.2px;}
.dark-grey { color: #363636; }
.light-grey { color: #707070; }
.text-center { text-align: center; }

ol { list-style-type: decimal; list-style-position: inside; margin: 0; }
ul { list-style-type: disc; list-style-position: inside; margin: 0; }
.list-unstyled { list-style-type: none; }

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section { 
  display: block;
}

/* Sitewide */
.content {min-height: calc(100vh - 150px);}

.wrapper {
	width:80%;
	margin:auto;
  max-width: 1140px;
}

@media (max-width: 575.98px) {
  .wrapper {
    width:88%;
  }
}

a { text-decoration: underline dashed; text-underline-offset: 2px; color:#363636; 
  -o-transition:color .2s ease-out, background 2s ease-in;
  -ms-transition:color .2s ease-out, background 2s ease-in;
  -moz-transition:color .2s ease-out, background 2s ease-in;
  -webkit-transition:color .2s ease-out, background 2s ease-in;
  transition:color .2s ease-out, background 2s ease-in;}
a:active { text-decoration: underline dashed; text-underline-offset: 2px; color:#363636;}
a:visited { text-decoration: underline dashed; text-underline-offset: 2px; color:#363636;}
a:hover { text-decoration: none; color: #EF6E0B;}

.hello a, nav a, footer a, .brief a { text-decoration: none;color:#363636; 
  -o-transition:color .2s ease-out, background 2s ease-in;
  -ms-transition:color .2s ease-out, background 2s ease-in;
  -moz-transition:color .2s ease-out, background 2s ease-in;
  -webkit-transition:color .2s ease-out, background 2s ease-in;
  transition:color .2s ease-out, background 2s ease-in;}
.hello a:active, nav a:active, footer a:active, .brief a:active { text-decoration: none; color:#363636; }
.hello a:visited, nav a:visited, footer a:visited, .brief a:visited { text-decoration: none; color:#363636; }
.hello a:hover, nav a:hover, footer a:hover, .brief a:hover { text-decoration: none; color: #EF6E0B; }

.link-primary { text-decoration: underline; text-decoration-style: dashed; }

/* ~ Navigation ~ */
header {margin-top:20px;display:flex;justify-content:space-between;align-content:center;}
.logo {width:30px;}

nav {
	display: flex;
	flex-wrap: wrap;
	align-content:center;
}

nav ul {
  display: inline-flex;
  flex-flow: wrap;
}

nav li {
  display: inline-block;
  margin-left:24px;
  position: relative;
  overflow: hidden;
  font-size: 15px;
  letter-spacing: 0.5px;
  line-height: 1;
  font-family: 'Mulish', helvetica, sans-serif;
  font-weight: 500;
}

@media (max-width: 576px) {
  nav li {
  margin-left:12px;
  }
}

#current {color:#EF6E0B;}

#work .work, #blog .blog, #explore .explore, #about .about
{
  color:#EF6E0B;
}

/* ~ Landing Page ~ */
.hello {
	padding-top: 100px;
  padding-bottom: 100px;
}
 @media (min-width: 992px) {
  .hello {
    padding-top: 200px;
    padding-bottom: 200px;
  }
 }
 
.text-orange {color:#EF6E0B;}
.text-blue {color:#3066DB;}
.text-yellow { background-color:rgba(255, 200, 80, 0.9); }


/* ~ Works ~ */

/* Section Background */
.bg-grey {background-color:#f7f7f7;}
.bg-white {background-color:#ffffff;}

/* Demo Video */
.demovid {overflow: hidden; position:relative; width:100%;}
.demovid iframe {position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;}
.demovid::after {padding-top: 56.25%;
    display: block;
    content: '';}

/* ~ Explore ~ */
#explore {
    animation: bg_animate 1.5s ease-in-out forwards;
    -webkit-animation: bg_animate 1.5s ease-in-out forwards;
    -moz-animation: bg_animate 1.5s ease-in-out forwards;
    -o-animation: bg_animate 1.5s ease-in-out forwards;
}
@keyframes bg_animate{
  0%{
      background: #fff;
  }
  100%{
      background: #232324;
  }
}
@-webkit-keyframes bg_animate{
  0%{
      background: #fff;
  }
  100%{
      background: #232324;
  }
}
@-moz-keyframes bg_animate{
  0%{
      background: #fff;
  }
  100%{
      background: #232324;
  }
}
@-o-keyframes bg_animate{
  0%{
      background: #fff;
  }
  100%{
      background: #232324;
  }
}

.gallery { 
  -webkit-column-count: 2;
  -moz-column-count: 2;
  column-count: 2;
  -webkit-column-gap: 16px;
  -moz-column-gap: 16px;
  column-gap: 16px;
  margin-top: 10px;
  overflow: hidden;
}

.gallery img { 
  width: 100%; 
  height: auto;
  transition: 500ms;
  margin-bottom: 10px;
  opacity: 0.8;
  page-break-inside: avoid; /* For Firefox. */
  -webkit-column-break-inside: avoid; /* For Chrome & friends. */
  break-inside: avoid; /* For standard browsers like IE. :-) */
}

.gallery img:hover {
  opacity: 1;
}

.modal-img,.model-vid{
  width:80%;
  height: auto;
}
.modal-body{
  padding:0px;
}

.modal-dialog {
  text-align: center;
  vertical-align: middle;
  display: block;
  top: 10%;
}

.modal-content {
  border: none;
}

@media screen and (max-width: 767px) {
  .gallery { 
    -webkit-column-count: 2;
    -moz-column-count: 2;
    column-count: 2;
  }
  .gallery div { margin: 0; 
    width: 200px;
  }
}

@media screen and (max-width: 479px) {
  .gallery { 
    -webkit-column-count: 1;
    -moz-column-count: 1;
    column-count: 1;
  }
  .gallery div { 
    margin: 0; 
    width: 200px;
  }
}

/* ~ About ~ */
.image-gap { 
  gap: 16px; 

  @media (min-width: 768px) {
    gap: 24px; 
  }
}

/* ~ Footer ~ */
.footer {
  height:140px;
  background-color:#f3f3f3;
}

#footer-dark .footer{
  background-color:#232324;
}

.footer ul {display: flex; flex-wrap: wrap;}
.footer li {
  font-size:16px;
  line-height:30px;
  display: inline-block;
  position: relative;
  overflow: hidden;
}
