* { margin: 0; padding: 0; }
html { overflow-y: scroll;}
ol, ul { list-style: none; margin: 0;}
h1 { color: #363636;font-size: 2.8em; line-height:1.4em; font-family: 'NTR', helvetica, sans-serif;font-weight:700;width:100%;}	
h2 { color: #363636;font-size: 2.2em; line-height:1.2em; font-family: 'NTR', helvetica, sans-serif;font-weight:700;width:100%;}
h3 { color: #363636;font-size: 1.6em; line-height:1.4em; font-family: 'NTR', helvetica, sans-serif;font-weight:700;width:100%;}
h4 { color:#363636;font-size:1.4em; line-height:1.4em;font-family:'NTR', helvetica, sans-serif;font-weight:600;width:100%;}
a, img { outline: none; border:none; }
p { font-size:18px;color:#606060;display: block;line-height:2.1em;font-family:'Lato', helvetica, sans-serif;font-weight:400;}
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section { 
    display: block;
	}
/* Structure */
#wrapper {
	width:80%;
	margin:auto;
}

/*header*/
.navigation {margin-top:20px;display:flex;justify-content:space-between;align-content:center;}
.logo {width:30px;height:auto;}

header nav {
	display: flex;
	flex-wrap: wrap;
	text-decoration:none;
}

header nav li {
  display: inline-block;
  margin-left:14px;
  position: relative;
  overflow: hidden;
  font-size:18px;
  font-family:'NTR', helvetica, sans-serif;
  letter-spacing:1.4px;
  line-height: inherit;
}

@media (max-width: 576px) {
  header nav li {
  margin-left:12px;
  }
}
#current {color:#EF6E0B;}

/* Links*/	
  a:link { text-decoration: none;color:#363636; 
    -o-transition:color .2s ease-out, background 2s ease-in;
    -ms-transition:color .2s ease-out, background 2s ease-in;
    -moz-transition:color .2s ease-out, background 2s ease-in;
    -webkit-transition:color .2s ease-out, background 2s ease-in;
    transition:color .2s ease-out, background 2s ease-in;}
  a:active { text-decoration: none; color:#363636;}
  a:visited { text-decoration: none; color:#363636;}
  a:hover { font-weight: none; color: #EF6E0B;}


/* title */
.title {color: #363636;
    font-size: 2.2em;
    line-height: 1.2em;
    font-family: 'NTR', helvetica, sans-serif;}


li {list-style-type: disc;font-size:18px;color:#606060;line-height:2.1em;font-family:'Lato', helvetica, sans-serif;font-weight:400;}

/* footer */
.foot {
  padding-top:30px;
  clear:both;
  height:120px;
  text-align:center;
  margin-top:100px;
  background-color:#f3f3f3;
}
.foot p {font-size:18px;line-height:30px; font-family: 'NTR', helvetica, sans-serif;}
.connect {display:flex;justify-content: center;align-items:center;}
.connect p{padding-left:6px;}